.main {
  color: white;
  transition: all 0.6s;
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.main .fof {
  display: table-cell;
  vertical-align: middle;
}

.main .fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
