/Programs/Week 3.1/node_modules
/Programs/Week 3.2/node_modules
/Programs/Week 3.2/.env
/Assignments/01-middlewares/node_modules
/Assignments/01-middlewares/coverage
/Assignments/02-jwt/node_modules
/Assignments/02-jwt/node_modules
/Assignments/03-mongo/node_modules
/Assignments/03-mongo/.env
/Assignments/04-mongo-with-jwt-auth/node_modules
/Assignments/04-mongo-with-jwt-auth/.env